*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;

}
.page-wrapper {
    width: 1200px;
    margin: 0 auto;
       
}

.header{
    height: 55px;
    display: flex;
    justify-content: flex-end;
    color: #666666;
}

.nav-group-logo{
    color: #cd23b3;
    font-style: italic;
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.nav-group-page-itens{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    width: 610px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-group-social-icons{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-group-page-itens a{
    padding: 4px 8px; 
}

.nav-group-page-itens a:hover{
    background-color: lightgray;  
}

.section-home{
    min-height: calc(100vh - 55px);
    display: flex;
    align-items: center;
}

.section-home-item{
    color: #42446E;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.my-name{
    color: #13b0f5;
       
}

.profile-img{
    border-radius: 50%;
}

.main-about{
    display: flex;
    flex-direction: column;
    width: 710px;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;

}

.section-about-me{
    font-family: 'Poppins', sans-serif;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #42446E;
}

.section-experience, .section-education{
    display: flex;
    flex-direction: column;
    
}

.experience, .education{
    display: flex;
    justify-content: space-between;
}

.contents{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #666666;
}

.other-items{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    color: #A7A7A7;
}





